@import './var.scss';

body {
  padding: 0;
  margin: 0;
}
.container{
  display: grid;
  display: flex;
  position: relative;
}
.sidebar {
  background: $main-silver;
  min-height: 100vh;
  width: 250px;
  transition: all .3s ease-in-out;
  &__title{
    color : $main-white;
    background: $main-black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: $header-height;
    align-items: center;
  }
   &__logo{
     padding: 20px;
     font-size: 40px;
     position: relative;
     transition: all .3s ease-in-out;
     margin: 0;
     opacity: 1;

     &__txt {
      background: $main-white;
      color: $main-black;
      border-radius: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      opacity: 1;
     }
   }
}
.burger {
	display: flex;
  position: relative;
	flex-direction: column;
  transform: translateX(0px);
	justify-content: space-between;
	width: 30px;
	height: 20px;
  &__dash {
    width: 30px;
    height: 3px;
    background: $main-white;
    border-radius: 20px;
    transition: all .3s ease-in-out;
    &:nth-of-type(3) {
      position: absolute;
      top: 9x
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.activebrgr{
  transform: translateX(-65px);
  .dash{
    &:nth-of-type(1) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }
}
.content {
  width: 100%;
  &__header{
    background: $main-black;
    box-sizing: border-box;
    padding: 2px 0 2px 20px;
    min-height: $header-height;
    display: flex;
    align-items: center;
  }
}
.nav{ 
  padding: 20px;
  &__item {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    color: $main-white;
    overflow: hidden;
    flex-wrap: nowrap;
    .fa{
      margin-right: 20px;
      display: block;
      color: $main-white;
    }
  }
}
.activeSidebar{
  width: 60px;
}

.activeContainer {
  .sidebar__title {
    width: 100%;
    text-indent: -9999px; 
   }
  .sidebar__logo{
    position: absolute;
    left: -200px;
    opacity: 0;
    overflow: hidden;
    &__txt{ 
      opacity: 0;
    }
  }
  .burger .dash:nth-of-type(3) {
    position: absolute;
    top: 9p
  }
}
