body {
  padding: 0;
  margin: 0; }

.container {
  display: grid;
  display: flex;
  position: relative; }

.sidebar {
  background: #282A35;
  min-height: 100vh;
  width: 250px;
  transition: all .3s ease-in-out; }
  .sidebar__title {
    color: #fff;
    background: #000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 44px;
    align-items: center; }
  .sidebar__logo {
    padding: 20px;
    font-size: 40px;
    position: relative;
    transition: all .3s ease-in-out;
    margin: 0;
    opacity: 1; }
    .sidebar__logo__txt {
      background: #fff;
      color: #000;
      border-radius: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      opacity: 1; }

.burger {
  display: flex;
  position: relative;
  flex-direction: column;
  transform: translateX(0px);
  justify-content: space-between;
  width: 30px;
  height: 20px; }
  .burger__dash {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 20px;
    transition: all .3s ease-in-out; }
    .burger__dash:nth-of-type(3) {
      position: absolute;
      top: 9x; }
  .burger:hover {
    cursor: pointer; }

.activebrgr {
  transform: translateX(-65px); }
  .activebrgr .dash:nth-of-type(1) {
    opacity: 0; }
  .activebrgr .dash:nth-of-type(3) {
    transform: rotate(45deg); }
  .activebrgr .dash:nth-of-type(2) {
    transform: rotate(-45deg); }

.content {
  width: 100%; }
  .content__header {
    background: #000;
    box-sizing: border-box;
    padding: 2px 0 2px 20px;
    min-height: 44px;
    display: flex;
    align-items: center; }

.nav {
  padding: 20px; }
  .nav__item {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    color: #fff;
    overflow: hidden;
    flex-wrap: nowrap; }
    .nav__item .fa {
      margin-right: 20px;
      display: block;
      color: #fff; }

.activeSidebar {
  width: 60px; }

.activeContainer .sidebar__title {
  width: 100%;
  text-indent: -9999px; }

.activeContainer .sidebar__logo {
  position: absolute;
  left: -200px;
  opacity: 0;
  overflow: hidden; }
  .activeContainer .sidebar__logo__txt {
    opacity: 0; }

.activeContainer .burger .dash:nth-of-type(3) {
  position: absolute;
  top: 9p; }
